body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.avatar-bkg-blur {
  background-image: url("1618269474870.jpg");
  /* Add the blur effect */
  filter: blur(14px);
  -webkit-filter: blur(14px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
